body{
    background-color:#D9B8AD;
    margin: 0;
}

#container {
    display: flex;
}



#game-intro{
    width: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{  
    flex: 0 0 120px;
    color: aquamarine;
}

#game-board {
    flex: 1;
    margin: 0;
    position: relative;
  }

#game-board canvas {
    position: absolute;
    height: 100vh;
    object-fit:contain;

}

#game-end{
    position: relative;
}

#game-intro, 
#game-end,
#game-board {display:none;}

#game-intro.active {display:flex;}
#game-board.active {display:flex;}
#game-end.active {display: flex;}