@font-face {
    font-family: myFirstFont;
    src: url(../font/ocean-font-family/OceanBold.ttf);
    font-weight: bold;
  }

body{
    margin-top:0;margin-bottom:0;
    font-weight:normal;
    font-family: ocean, 'Courier New', Courier, monospace;    
    background:url("../images/marine-background.jpg") center no-repeat; background-size:cover;
    color:#FF7F50;
    /* padding-top:250px; */
    /* padding-bottom:250px;  */
    /* pseudo-centrage vertical */
    text-align:center;
  }

#hungry-octopus{
    display: flex;
    align-content: space-around;
}
img{
    height: 350px;
    margin:0;
    padding-right: 5em;
}

h1{
    font-size: 500%;
    color:#e978a0;
}

p.game-description{  
    flex: 0 0 120px;
    font-size: 150%;
}

button.start-button{
    border-radius: 50%;
    font-size: 500%;
    padding: 30px;
    background: rgba(25.1,72.9,91.4,0.7);
    border: none;
    color: #f3ce72;
    font-style:ocean, 'Courier New', Courier, monospace; 
}



.game-timer{
    font-size: 200%;
    margin-right: 50px;
}

.eaten-planktons-game{
    font-size: 200%;
    margin-left: 50px;
}

p.game-end-text{
    margin-top: 150px;
    text-align: center;
    font-size: 300%;
}

#octopus-end{
    margin-top: 70px;
}

#game-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

#game-board canvas {
    /* border:solid 2px red; */
    /* position: absolute; */
    height: 100vh;
    /* object-fit:contain; */

}

#game-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-intro, 
#game-end,
#game-board {display:none;}

#game-intro.active {display:flex;}
#game-board.active {display:flex;}
#game-end.active {display: flex;}