body{
    background-color:#D9B8AD;
    margin: 0;
}

#container {
    display: flex;
}

#game-info{
    background: yellow;
    width: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */

}
p{  
    flex: 0 0 120px;
    color: aquamarine;
}

#game-board {
    background: green;
    flex: 1;
    margin: 0;
    position: relative;
  }

#game-board canvas {
    position: absolute;
    height: 100vh;
    object-fit:contain;

}